@model Garage3.Data.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VehicleType.NumberOfWheels)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.VehicleType.NumberOfWheels)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-8">
            <a asp-controller="Members" asp-action="Details" asp-route-id="@Model.OwnerId">@Html.DisplayFor(model => model.Owner.FullName)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
