@model IEnumerable<Garage3.Data.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Park a vehicle</a>
</p>
<p>
    <form asp-controller="Vehicles" asp-action="Index">
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.VehicleType)</label>
            <select asp-items="ViewBag.VehicleTypeId" name ="soughtVehicleType"></select>
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.RegistrationNumber)</label>
            <input name="soughtRegistrationNumber" value="@ViewBag.RegistrationNumber"/>
        </div>
        <button>Filter</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.Membership)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.Name)
                </td>
                <td>
                    <a asp-controller="Members" asp-action="Details" asp-route-id=@item.OwnerId>@Html.DisplayFor(modelItem => item.Owner.FullName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.MembershipType)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Collect</a>
            </td>
        </tr>
}
    </tbody>
</table>
