@using Garage3.ViewModels
@model Receipt
@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckoutTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckoutTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
