@model Garage3.Data.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PersonalIdentificationNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PersonalIdentificationNumber)
        </dd>
        <dt class="col-sm-3">
            <p>Vehicles Count</p>
        </dt>
        <dd class="col-sm-8">

            @if (Model.Vehicles != null)
            {
                @Html.DisplayFor(model => model.Vehicles.Count)
            }
            else
            {
                <p>0</p>
            }
        </dd>
    </dl>
    @if (Model.Vehicles != null && Model.Vehicles.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Vehicle Type</th>
                    <th>Registration Number</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Parked since</th>
                    <th>Link To Vehicle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <tr>
                        <td>@vehicle.VehicleType.Name</td>
                        <td>@vehicle.RegistrationNumber</td>
                        <td>@vehicle.Brand</td>
                        <td>@vehicle.Color</td>
                        <td>@vehicle.ParkingTime.ToString("yyyy-MM-dd HH:mm")</td> <!-- Displaying parking time -->
                        <td><a asp-action="Details" asp-controller="Vehicles" asp-route-id="@vehicle?.Id">Link</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
